.team-section {
    padding: 50px 0;
    margin-top: 2em;
  }
  
  .custom-card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 153, 255, 0.404);
    transition: transform 0.3s;
  }

  .bg-image {
    height: 90vh;
    background: url('../../assets/background.png') center center / cover ;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center; 
  }
  
  .custom-card:hover {
    transform: translateY(-30px);
  }
  .square-avatar {
    border-radius: 10%!important; /* Ensure the avatar is a square */
  }
  
  .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .icon-circle:hover {
    background-color: black;
    transform: scale(1.1);
  }
  
  .icon-circle .anticon {
    font-size: 20px;
    color: #333;
    transition: color 0.3s;
  }
  
  .icon-circle:hover .anticon {
    color: #fff;
  }
  
  @media only screen and (max-width: 600px) {
    .custom-card {
      width: 160%;  /* Adjust width as needed */
    }
  }

  @media only screen and (max-width: 1000px) {
    .bg-image {
      height: auto ;
      background: url('../../assets/background.png') center center / cover ;
      display: flex ;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center; 
    }
  }
  @media only screen and (max-width: 600px) {
    .bg-image {
      height: auto ;
      background: url('../../assets/background.png') center center / cover ;
      display: flex ;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center; 
    }
  }
 