

  .container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}
.image {
  background: url('../../assets/background.png') center center / cover ;
}

.testing-card {
  transition: box-shadow 0.3s ease-in-out;
}

.testing-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.url-input, .run-test-button {
  border-radius: 5px;
}

.run-test-button {
  background-color: #1890ff;
  color: white;
  font-weight: bold;
}

.run-test-button:hover {
  background-color: #40a9ff;
  color: white;
}

.error-alert {
  margin-top: 20px;
}

